<div class="dialog-box">
  <div class="dialog-title">
    <h1 mat-dialog-title>Schedule Reports</h1>

    <span class="close-btn" mat-dialog-close
      ><mat-icon fontIcon="close"></mat-icon
    ></span>
  </div>
  <div mat-dialog-content>
    <div class="report-type">
      <h2 class="dialog-content-title">Select Required Reports Types</h2>
      <div class="checklists" [formGroup]="checklists">
        <mat-checkbox
          class="dialog-content-checkbox"
        
          formControlName="FleetWise"
          
          >Fleet Wise Report</mat-checkbox
        >
        <mat-checkbox
          class="dialog-content-checkbox"
        
          formControlName="VehicleWise"
          >Vehicle Wise Report</mat-checkbox
        >
        <mat-checkbox
          class="dialog-content-checkbox"
         
          formControlName="TripWise"
          >Trip wise</mat-checkbox
        >
        <mat-checkbox
          class="dialog-content-checkbox"
       
          formControlName="DrivingWise"
          >Driving Scorecard Report</mat-checkbox
        >
      </div>

      <!-- <button mat-button (click)="show()">Temporary</button> -->
    </div>
    
    <div *ngIf="isVisible">
      <div class="vehicle-select-title">
        <h3>Select Vehicle</h3>
      </div>
      <div class="vehicle-select">
      <div class="filter" [formGroup]="filterOption">
        <div class="drop-down" >
            <select name="branch" formControlName="filterSelect">
              <option value="All Vehicle">All Vehicle</option>
              <option value="Thane">Thane</option>
              <option value="Pune">Pune</option>
              <option value="Mumbai">Mumbai</option>
            </select>

    
        </div>
        <div class="search">
            <input type="text" (input)="perform_filterText()" formControlName="filterText" placeholder="Search by Vin">
        </div>
      </div>
      <div class="vehicle">

        <div class="vehicle-list" *ngFor="let info of this.filter_data;let i=index">
        
          <mat-checkbox (change)="vehicle($event,info,i)">
            <div class="vehicle-list-value">
              <span style="font-weight: bold;font-size: 12px;">{{info.vin}}</span>
            <span>{{info.registration_number}}</span>
            <span>{{info.lob_name}}</span>
            </div> 
            
          </mat-checkbox>


      </div>
      </div>
 
        
       

    </div>
    </div>
    


    <div class="email">
      <div class="email-title">
        <div class="email-title-text">
          <h3>Enter email ids</h3>
        </div>
        <div class="email-btn">
          <button
            class="add-email-btn"
            mat-button
            (click)="openEmail()"
            *ngIf="addEmailBtn"
          >
            + ADD
          </button>
          <button
            class="add-email-btn"
            mat-button
            (click)="clearEmail()"
            *ngIf="cancelEmailBtn"
          >
            Cancel
          </button>
        </div>
      </div>

      <div class="email-fields" *ngIf="showEmailField" [formGroup]="emails">
        <input type="email" formControlName="email" />

        <button
          (click)="addEmail(emails.value)"
          mat-flat-button
          color="primary"
        >
          Add
        </button>
      </div>
  
    </div>
  
      <small *ngIf="valid_mail" style="color:red">Provide valid mail</small>
  
    <small *ngIf="error_message" style="color:red">Only five mails are allowed</small>

    <div class="emailbox" *ngIf="addEmailBox">
      <div class="email_list" *ngFor="let mail of email_list;let i = index">
          <span>{{ mail }}</span>
          <span><mat-icon class="mt-btn" fontIcon="close" (click)="remove(i)"></mat-icon></span>
        
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
      
      <div class="btn">
        <button class="cl-btn" mat-raised-button mat-dialog-close>
            Cancel
        </button>
        <button mat-raised-button color="primary" [disabled]="isNext()" (click)="next()">
          Next
        </button>
        
      </div>

  </div>
</div>


