.schedule {
    position: absolute;
    width:40%;
    margin: auto;
    top:0;
    right: 0;
    left:0;
    bottom: 0;
   height: 20vh;
   /* border:1px solid red; */  
   display: flex;
   justify-content: center;
   align-items: center;
}